<h3 class="text-center mt-4">LISTA PROVEEDORES</h3>
<div class="add mt-3">
    <div class="d-grid">
        <button class="btn btn-secondary fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#addProveedor">Añadir Proveedor</button>
    </div>
</div>
<hr>
<div class="container-xl table-desktop">
    <table class="table table-hover text-center">
        <thead class="table-primary">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Contacto</th>
            <th scope="col">Producto</th>
            <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of listarProveedor">
            <tr>
                <th scope="row" class="table-primary">{{item.supplierId}}</th>
                <td>{{item.contactName}}</td>
                <td>{{item.address}}</td>
                <td>{{item.phone }}</td>
                <td>{{item.address}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-success" routerLink="/inicio"><i class="bi bi-pencil-square"></i></button>
                        <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAlumno" (click)="seleccionarAlumno(item)"><i class="bi bi-trash3"></i></button> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!----------------------- Modal Agregar Proveedor ------------------------------>
<div class="modal fade" id="addProveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProveedor" (submit)="guardarGrado()" id="formGrado">
                    <div class="mb-3">
                      <label for="recipient-name"  class="col-form-label">Nombre:</label>
                      <input type="text" formControlName="nombre" class="form-control" id="recipient-name">

                      <div class="alert alert-danger mt-2" [hidden]="formProveedor.get('nombre')?.valid || formProveedor.get('nombre')?.pristine">
                        El nombre es obligatorio
                      </div>

                      <label for="recipient-name"  class="col-form-label">Direccion:</label>
                      <input type="text" formControlName="direcion" class="form-control" id="recipient-name">

                      <div class="alert alert-danger mt-2" [hidden]="formProveedor.get('direcion')?.valid || formProveedor.get('direcion')?.pristine">
                        La direccion es obligatorio
                      </div>

                      <label for="recipient-name"  class="col-form-label">Contacto:</label>
                      <input type="text" formControlName="contacto" class="form-control" id="recipient-name">

                      <div class="alert alert-danger mt-2" [hidden]="formProveedor.get('contacto')?.valid || formProveedor.get('contacto')?.pristine">
                        El Contacto es obligatorio
                      </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" form="formProveedor" [disabled]="formProveedor.invalid">Guardar Proveedor</button>
            </div>
        </div>
    </div>
</div>

